Source: libopencv
Section: graphics
Priority: optional
Maintainer: Embree Support <embree_support@intel.com>
Build-Depends: debhelper (>= 9), cmake, libeigen3-dev, pkg-config, libc6-dev
Standards-Version: 4.1.2
Homepage: https://github.com/opencv/opencv
Vcs-Git: https://github.com/opencv/opencv
Vcs-Browser: https://github.com/opencv/opencv

Package: libopencv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenCV (Open Source Computer Vision Library) is an open source
	computer vision and machine learning software library. OpenCV was
	built to provide a common infrastructure for computer vision
	applications and to accelerate the use of machine perception in the
	commercial products. Being a BSD-licensed product, OpenCV makes it
	easy for businesses to utilize and modify the code.

